<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id = "helloSpace" class = "test.com.HelloSpace" scope="prototype"  init-method="init" destroy-method="destroy">
      <property name = "spaceMessage" value = "Hello Space!"/>
      <property name = "helloWorld" ref = "helloWorld"/>
   </bean>

	<bean id = "helloWorld" class = "test.com.HelloWorld" >
      	<property name = "message" value = "Hello World!"/>
   	</bean>

   	<bean id = "helloIndia" class = "test.com.HelloIndia" parent="helloWorld" lazy-init="true" init-method="init" destroy-method="destroy">
      	<property name = "messageIndia" value = "Hello India!"/>
   	</bean>
</beans>